{% extends 'YYCFoundationBundle::layout.html.twig' %}
{% block yyc_foundation_body %}
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="bg-success">基本信息</th>
                </tr>
                <tr>
                    <th>车架号</th>
                    <td>{{ vars.vin }}</td>
                </tr>
                <tr>
                    <th>品牌</th>
                    <td>{{ vars.brandName }}</td>
                </tr>
                <tr>
                    <th>最后入店时间</th>
                    <td>{{ vars.results.last_time_to_shop }}</td>
                </tr>
                <tr>
                    <th>最后入店公里数</th>
                    <td>{{ vars.results.total_mileage }}</td>
                </tr>
                <tr>
                    <th>事故次数</th>
                    <td>{{ vars.results.number_of_accidents }}</td>
                </tr>
            </table>

            <table class="table table-bordered">
                <tr>
                    <th class="bg-success">报告简述</th>
                </tr>
                <tr>
                    <td>{{ vars.results.result_description }}</td>
                </tr>

            </table>

            <table class="table table-bordered">
                <tr>
                    <th class="bg-success">维修保养记录</th>
                </tr>
                {% set items = vars.results.result_content |json_decode %}
                {% for item in items %}
                    <tr>
                        <td>
                            {{ item.date }} {{ item.kilometers }}公里 {{ item.type }} <br>
                            {{ item.content }}<br>
                            {% set images = item.images %}
                            {% for img in images %}
                                <img src="{{img}}" alt=""><br>
                            {% endfor %} 
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

