{% extends 'common/base_list.html.twig' %}

{% block list_filter %}
    <form class="form-horizontal table-form-filter clearfix" id="formFilterBar">
        <div class="filter-input" data-form-name="vars[mixed]" data-form-value="">
            <div class='value-current search-icon-end'></div>
        </div>
        {% if is_granted('ROLE_EXAMER') %}
            <div class="filter-select" data-form-name="vars[company]" data-form-value="{{vars['company']}}" data-child-search="had" data-child-url="{{path('config_get_all_companies')}}">
                <div class="value-current">金融公司</div>
            </div>
        {% endif %}
        <div class="filter-select" data-form-name="vars[status]" data-form-value="{{vars['status']}}" data-remove-value="10">
            <div class="value-current">单据状态</div>
        </div>
        <div class="filter-select" data-form-name="vars[dateType]|vars[startDate]|vars[endDate]" data-form-value="{{vars['dateType']~"|"~vars['startDate']~'|'~vars['endDate']}}">
            <div class="value-current">复核日期</div>
        </div>
    </form>
{% endblock %}

{% block list_content %}
    <table class="table">
        <thead>
            <tr>
                <th>评估单号</th>
                <th>车架号</th>
                <th>单据状态</th>
                <th>品牌</th>
                <th>车系</th>
                <th>年款</th>
                <th>车型</th>
                <th>提交人</th>
                <th>金融公司</th>
                <th>经销商</th>
                <th>提交时间</th>
                {% if showExamer %}
                    <th>审核人</th>
                {% endif %}
                <th>终审时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for order in pagination %}
                <tr>
                    <td>
                        {{ order.orderNo }}
                        {% if order.businessNumber %}
                            <br>({{order.businessNumber}})
                        {% endif %}
                    </td>
                    <td>{{ order.report ? order.report.vin : '' }}</td>
                    {% if order.report %}
                        {% if order.report.status == 0 %}
                            <td>已提交</td>
                        {% elseif order.report.status == 1 %}
                            <td>通过</td>
                        {% elseif order.report.status == 2 %}
                            {% if order.company.company == '平安租赁' and order.report.hplExaming and order.report.hplReason %}
                                <td>复审拒绝</td>
                            {% else %}
                                <td>拒绝</td>
                            {% endif %}
                        {% else %}
                            <td>状态异常</td>
                        {% endif %}
                    {% else %}
                        <td>已提交</td>
                    {% endif %}
                    <td>{{ order.report ? order.report.brand : '' }}</td>
                    <td>{{ order.report ? order.report.series : '' }}</td>

                    {% if order.report %}
                        <td>{{ order.report.report ? order.report.report.field_2040['value'] : '' }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>{{ order.report ? order.report.model : '' }}</td>
                    <td>{{ order.loadOfficer ? order.loadOfficer.name : '' }}</td>
                    <td>{{ order.company ? order.company.company : ''}}</td>
                    <td>{{ order.agencyName }}</td>
                    <td>{{ order.submitedAt|date("Y-m-d H:i:s") }}</td>
                    {% if showExamer %}
                        <td>{{ order.report ? order.report.examer.name : '' }}</td>{% endif %}
                    <td>{{ order.report ? order.report.examedAt|date("Y-m-d H:i:s") : '' }}</td>
                    <td>
                        <a href="{{ path('order_show', { 'id': order.id }) }}"
                           class="btn-td">详情</a>
                        {% if showReport %}
                        <a href="{{ path('pdfreport', { 'orderid': order.id, '_format': 'html' }) }}" class="btn-td" target="_blank">报告</a>
                        {% endif %}
                        {% if showMaintain %}
                            {% if order.report %}
                                {% if order.report.getMaintain == 0 %}
                                   <span class="btn-not">暂无维保记录</span>
                                {% else %}
                                    <a href="{{ url('yyc_common_show', { 'id': order.report.getMaintain , 'report': order.report.id }) }}" class="btn-td" target="_blank">查看维保详情</a>
                                {% endif %}
                            {% endif %}
                            {% if order.insuranceId %}
                                <a href="{{ path('yyc_foundation_lsj_show', { 'id': order.insuranceId}) }}" class="btn-td" target="_blank">查看保险详情</a>
                            {% else %}
                                <span class="btn-not">暂无保险记录</span>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_EXAMER') %}
                            {% set companyConfig = companyRepo.findOneByCompany(order.company.company) %}
                            {% set passToErp = false %}
                            {% if companyConfig %}
                                {% if companyConfig.getInfo.passToErp is defined %}
                                    {% if companyConfig.getInfo.passToErp %}
                                        {% set passToErp = true %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if passToErp and order.report %}
                                {% set synced = order.report.synced %}
                                {% if synced is same as(true) %}
                                    <span class="btn-not">已转erp</span>
                                {% else %}
                                    <a href="{{ path('order_passToRrp', { 'id': order.id }) }}"
                                           class="btn-td passToRrp" id="passToRrp">转到erp</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if order.businessNumber %}
                            <br><span style="visibility:hidden;">dummy</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>              
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function ($) {
            $('.input-daterange .input-group.date').each(function () {
                $(this).datepicker({
                    language: 'zh-CN',
                    format: 'yyyy/mm/dd',
                    orientation: "bottom left",
                    autoclose: true,
                    endDate: "today",
                    todayHighlight: true,
                });
            });
        });

        // ajax将报告转到erp
        $(".table-new-box").on("click",".passToRrp",function (event) {
            event.preventDefault();
            var url = $(this).attr('href');
            bootboxConfirm({
                title: "确定要转到erp吗？",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'json',
                        })
                        .done(function (data) {
                            console.log("success");
                            location.reload();
                        })
                        .fail(function () {
                            console.log("error");
                        })
                        .always(function () {
                            console.log("complete");
                        });
                    }
                }
            });
        });
    </script>

{% endblock %}