{% extends 'common/base_list.html.twig' %}

{% block list_filter %}
    <form class="form-horizontal table-form-filter clearfix" id="formFilterBar">
        <div class="filter-select" data-form-name="vars[company]" data-form-value="{{vars['company']}}" data-child-search="had" data-child-url="{{path('config_get_all_companies')}}">
            <div class="value-current">金融公司</div>
        </div>

        <div class="filter-select" data-form-name="vars[agency]" data-form-value="{{vars['agency']}}" data-child-search="had" data-child-url="{{path('get_agencies', {'company': vars['company']})}}">
            <div class="value-current">经销商</div>
        </div>
        <div class="filter-select" data-form-name="vars[dateType]|vars[startDate]|vars[endDate]" data-form-value="{{vars['dateType']~"|"~vars['startDate']~'|'~vars['endDate']}}">
            <div class="value-current">提交时间</div>
        </div>
    </form> 
{% endblock %}

{% block list_additional %}
    <div class="list-additional">
        <div class="download-report had-icon link" data-download-url="{{path('loadofficercsv_report')}}"><i class="icon-font-xiazai"></i>下载报表</div>
    </div>
{% endblock %}

{% block table_fix %}start{% endblock %}

{% block list_content %}
    <table class="table">
        <thead>
            <tr>
                <th>金融公司</th>
                <th>经销商</th>
                <th>信贷员</th>
                <th>提交单据总数</th>
                <th>通过数</th>
                <th>拒绝数</th>
                <th>判定中</th>
                {# <th>退回数</th> #}
            </tr>
        </thead>
        <tbody>
            {% for result in pagination %}
                <tr>
                    <td>{{ result.company }}</td>
                    <td>{{ result.agencyName }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.resultall }}</td>
                    <td>{{ result.resultpass }}</td>
                    <td>{{ result.resultrefused }}</td>
                    <td>{{ result.resultaction }}</td>
                    {# <td>{{ result.resultback }}</td> #}
                 </tr>
             {% endfor %}
         </tbody>
    </table>          
{% endblock %}