{% extends "admin_layout.html.twig" %}

{% block content %}

{% trans_default_domain 'FOSUserBundle' %}
<h3 class="mgb-30"><i class="fa fa-circle-o mgr-6 fs-8 ft-red1" aria-hidden="true"></i>修改密码</h3>

{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ flash_message }} 系统将在<span id="showtimes"></span>秒内跳转到登录页
    </div>
{% endfor %}

<div class="panel panel-default formbox">
    <div class="panel-body">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password ajaxForm', 'novalidate': 'novalidate' } }) }}
            {{ form_widget(form) }}
            <div class="submit">
                <input type="submit" class="s-btn submit_input" value="{{ 'change_password.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script>
    //5秒倒计时页面跳转到登录页
        $(document).ready(function() {
            //表单没提交时并没有倒计时的dom页面，当提交后才有
            var showTimes = $('#showtimes');
            if (showTimes.length > 0) {
                showTime(5);
            }
        });

        function showTime(count) {
            document.getElementById('showtimes').innerHTML = count;

            if (count == 0) {
                window.location.href = "{{ path('fos_user_security_login') }}";
            } else {
                count -= 1;
                setTimeout(function () {
                    showTime(count);
                }, 1000);
            }
        }
    </script>
{% endblock %}
