{% extends 'admin_layout.html.twig' %}

{% block content %}
    {{ form_start(edit_form) }}
        <div class="panel panel-default mgt-30 userManage">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-muted">异常组配置</span></h4>
            </div>
            <div class="panel-body">
                {{ form_widget(edit_form) }}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.select2').select2();
        $(function(){
            {% for flash_message in app.session.flashBag.get('notice') %}
                var flashMessage = "{{ flash_message }}";
                commonMethod.showTopTips(flashMessage);
            {% endfor %}
        })
    </script>
{% endblock %}

